<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Tell1story", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
  <header class="container m-2"> 
      <div class="flex items-center justify-end bg-discord-gray text-black" >
        <a id="login" href="/auth/discord" class="bg-discord-color  text-xl px-5 py-3 rounded-md font-bold flex items-center space-x-4 hover:bg-sky-900 transition duration-75">
            <i class="fa-brands fa-discord text-2xl"></i>
            <span>Logue pelo Discord</span>
        </a>
    </div>
  </header>
    <%= @inner_content %>
  </body>
</html>
