<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Tell1story", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
  <header class="mb-2 p-2 bg-teal-700 flex flex-row justify-between"> 
  <div class="flex">
    <a href="/" class="block px-4 py-2 font-bold text-cyan-300 hover:text-cyan-600">Home</a>
    <a href="/rooms" class="block px-4 py-2 font-bold  text-cyan-300 hover:text-cyan-600 ml-4">Rooms</a>
    <a href="/favorites" class="block px-4 py-2 font-bold  text-cyan-300 hover:text-cyan-600 ml-4">Favorites</a>
  </div>
      <div class="flex items-center justify-end bg-discord-gray text-black" >
      <%= if @current_user do %>
        <div class="flex items-center">
          <img src={@current_user.avatar} alt="User Avatar" class="w-12 h-12 rounded-full">
          <p class="ml-4 font-bold  text-cyan-300"><%= @current_user.username %></p>
        </div>
        <div class="flex items-center mx-2 ml-4">
          <%= button "Sair", to: "auth/logout", method: :delete, class: "bg-discord-color  text-lg px-3 py-2 rounded-md font-bold flex items-center space-x-4 hover:bg-sky-900 transition duration-75" %>
        </div>
      <% else %>
        <a id="login" href="/auth/discord" class="bg-discord-color  text-lg px-3 py-2 rounded-md font-bold flex items-center space-x-4 hover:bg-sky-900 transition duration-75">
            <i class="fa-brands fa-discord text-2xl"></i>
            <span>Logue pelo Discord</span>
        </a>
      <% end %>

    </div>
  </header>
    <%= @inner_content %>
  </body>
</html>
